body {
    background: linear-gradient(to right, #dbeafe, #1e3c72);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .navbar-custom {
    background-color: #0d6efd;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  }
  
  .navbar-custom .nav-link,
  .navbar-custom .navbar-brand {
    color: #ffffff !important;
    font-weight: 500;
    transition: color 0.3s;
  }
  
  .navbar-custom .nav-link:hover {
    color: rgb(255, 186, 130) !important;
    /* Dourado ao passar o mouse */
  }
  
  .central-card {
    margin-top: 120px;
  }
  
  .card {
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    background: rgb(13, 110, 253);
    padding: 40px 30px;
    transition: transform 0.3s;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .logo-img {
    display: block;
    margin: 0 auto 5px auto;
    max-width: 375px;
    height: auto;
  }
  
  .btn-custom {
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 50px;
    padding: 10px 30px;
    font-weight: 500;
    transition: background-color 0.3s;
  }
  
  .btn-custom:hover {
    background-color: rgb(255, 186, 130);
  }
  
  /* Modal */
  .modal-content {
    color: #979797;
    border-radius: 20px;
    padding: 20px;
  }
  
  .modal-header {
    border-bottom: none;
  }